.video-container {
    width: 100vw; /* Full viewport width */
    height: 47vw; /* 30% of the viewport width */
    position: relative;
    overflow: hidden;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
}