.video-container {
    width: 200vw; /* Full viewport width */
    height: 94vw; /* 30/64*200 of the viewport width */
    position: relative;
    overflow: hidden;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
}